<div>
    <a href="javascript:;" (click)= "redirectTo('dash')">Dashboard</a>
</div>
<div>
    <a href="javascript:;" (click)= "redirectTo('camera')">Camera</a>
</div>
<div>
    <a href="javascript:;" (click)= "redirectTo('calendar')">Calendar</a>
</div>
<div>
    <a href="javascript:;" (click)= "redirectTo('test')">Test</a>
</div>
<div>
    <a href="javascript:;" (click)= "redirectTo('rxjs')">RxJS</a>
</div>
<div>
    <a href="javascript:;" (click)= "redirectTo('state-management')">State Management</a>
</div>
<div>
    <a href="javascript:;" (click)= "redirectTo('book-search')">Book Search</a>
</div>
<div>
    <a href="javascript:;" (click)= "redirectTo('chatbot')">Chatbot</a>
</div>
<div>
    <a href="javascript:;" (click)= "redirectTo('location')">Location</a>
</div>
<div>
    <a href="javascript:;" (click)= "redirectTo('doc-viewer')">PDF Viewer</a>
</div>
<div>
    <a href="javascript:;" (click)= "redirectTo('ng-material')">Angular Material</a>
</div>