<div class="header">

  <div id="button">
    <span class="glyphicon glyphicon-menu-hamburger" (click) = toggleMenu() ></span>
    <button (click) = toggleMenu2() >Menu</button>
  </div>

  <div class="app-title">ESS</div>

  <div class="online-state">{{online}} {{tulisan}}</div>

  <div class="counter">|Profile:{{profileName}}| Counter: {{counter}}</div>
</div>

<div [@slideInOut]='menuState' class="menu-left" id="menu-left">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="javascript:;" (click) = "redirectTo('/home')">Home</a></li>
        <li><a href="#">Payment Status</a></li>	
        <li><a href="#">Request Leave</a></li>
        <li><a href="#">Overtime Work</a></li>
        <li><a href="#">Reimbursement</a></li>
      </ul>
    </nav>
</div>

<div id="content">
<router-outlet></router-outlet>
</div>
