<!--<div>
      <label>PDF src</label>
      <input type="text" placeholder="PDF src" [(ngModel)]="pdfSrc">
  </div>
  <div>
      <label>Page:</label>
      <input type="number" placeholder="Page" [(ngModel)]="page">
  </div>
  <div style="height:800; width:600; overflow-y:scroll">
      <pdf-viewer [src]="pdfSrc" 
              [page]="page" 
              [original-size]="true"
              [show-all]="true"
              style="display: block;"> 
      </pdf-viewer>
  </div>-->

<!--<iframe width="600" height="800" frameborder="0" src='/src/js/ViewerJS/#../../assets/pdf-test.pdf'></iframe>-->

<!--
<iframe width="600" height="800" frameborder="0" src='https://docs.google.com/gview?url=https://acuteinsomniac.files.wordpress.com/2017/05/j-r-r-tolkien-lord-of-the-rings-01-the-fellowship-of-the-ring.pdf&embedded=true'></iframe>-->


<!--<object width="600" height="800" frameborder="0" data='../../assets/pdf-test.pdf' type="application/pdf">
    <iframe width="600" height="800" frameborder="0" src='../../assets/pdf-test.pdf'></iframe>
</object>-->

<div #pdfViewer class="pdf-viewer">
<iframe width="{{width}}" height="{{height}}" frameborder="0" src="/src/js/pdfJS/web/viewer.html?file=/src/assets/pdf-test.pdf"> PDF File </iframe>
</div>

<!--<canvas id='the-canvas'>

</canvas>-->