<h1>Edit Form </h1>

<form>
  Menu 1:
  <select #select1>
    <template ngFor let-menuItem [ngForOf]="menu" let-i = "index">
      <template [ngIf] = "i !== menuIndex[0]">
        <option>{{menuItem[0]}}</option>
      </template>
      <template [ngIf] = "i === menuIndex[0]">
        <option selected>{{menuItem[0]}}</option>
      </template>
    </template>
  </select>
    <br>
  Menu 2:
  <select #select2>
    <template ngFor let-menuItem [ngForOf]="menu" let-i = "index">
      <template [ngIf] = "i !== menuIndex[1]">
        <option>{{menuItem[0]}}</option>
      </template>
      <template [ngIf] = "i === menuIndex[1]">
        <option selected>{{menuItem[0]}}</option>
      </template>
    </template>
  </select>
    <br>
  Menu 3:
  <select #select3>
    <template ngFor let-menuItem [ngForOf]="menu" let-i = "index">
      <template [ngIf] = "i !== menuIndex[2]">
        <option>{{menuItem[0]}}</option>
      </template>
      <template [ngIf] = "i === menuIndex[2]">
        <option selected>{{menuItem[0]}}</option>
      </template>
    </template>
  </select>
    <br>
  Menu 4:
  <select #select4>
    <template ngFor let-menuItem [ngForOf]="menu" let-i = "index">
      <template [ngIf] = "i !== menuIndex[3]">
        <option>{{menuItem[0]}}</option>
      </template>
      <template [ngIf] = "i === menuIndex[3]">
        <option selected>{{menuItem[0]}}</option>
      </template>
    </template>
  </select>
    <br>
  <input type="button" value="Shazam" 
      (click) = "submitForm(select1.selectedIndex, select2.selectedIndex, select3.selectedIndex, select4.selectedIndex)"/>
</form>